/*CSS document*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;}
img {
	width: 100%;
	display: block;
}

body {
	background-color: rgb(255 255 253); /* Not totally white. */
	color: rgb(40 40 40);  /* Not totally black. */
	line-height: 150%; 	/* A little extra leading. */
	font-family: sans-serif;
}

h1 {
	background-color: rgb(184 184 201);
	color: rgb(255 255 253); /* Same as body background. */
	font-size: 2.5em;
	padding: 1em .5em .5em; /* You want three values. */
	font-weight: bold;
	text-transform: uppercase;
}


h2 {
	background-color: rgb(184 184 201);
	color: rgb(255 255 253);
	font-size: 2em;
	padding: .7em;
	font-family: serif;
	font-weight: bold;
}


h3 {
	margin: 4em 1em 1em; /*Three values again. You got the idea.*/
	padding-top: 1em;
	font-size: 1.5em;
	color: rgb(183 32 32);
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.1em; /*Just an extra tracking for bold uppercase letters. Try 0.1em */
	border-top: 3px solid rgb(183 32 32)
}

h4 {
	font-weight: bold;
    padding-top: 1em;
    margin-left: .6em;

}

p.description {
	font-style: italic;
     margin-left: .5em;
}

p.price {
	color: rgb(183 32 32);
    margin-left: .5em;
}

ul {
	margin-bottom: 1em;
}

li { 
	margin: .5em 1em;
	list-style-type: none;
}
